// /*
//  * Главный файл стилей.
//  * Все паршалы подключаются сюда.
//  */

// // Стили для файла с примером HTML-фрагмента
// // @import './example';

// // Путь к изображениям из SASS-файла всегда такой, как из папки css

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
body {
  size: 20px;
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

button {
  padding: 6px 22px;
  border-radius: 4px;
  background-color:rgb(233, 225, 68);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

button:hover, button:focus {
  background-color: rgb(43, 226, 55);
}

.search-form {
  text-align: center;
  margin: 20px;
  background-color: rgb(56, 56, 186);
  padding: 10px;
}

input{
  padding: 6px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 8px;
  border-color: transparent;
}

.gallery {
    padding: 15px;

  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  // grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.photo__link:hover {
  cursor: zoom-in;
}

.gallery__image {
  display: block;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.photo__card{
  padding: 15px;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.load-more {
  margin: 20px auto;
  display: block;
  text-align: center;
  visibility: hidden;
}

.load-more-visible {
  visibility: visible;
}

.info {
  display: flex;
 text-align: center;
}

// .info-item{
//   margin-bottom: auto;
// }