/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './example';
body{
            //   height: 240px;
            width: 100vw;
            height: 100vh;
              // Путь к изображениям из SASS-файла всегда такой, как из папки css
              background-image: url('../images/search.jpg');
              background-color: green;
            //   background-size: cover;
              background-position: center;

}

.search-form{
    text-align: center;
}

.load-more{
    margin-left: auto;
    text-align: center;
}