/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './example';

// Путь к изображениям из SASS-файла всегда такой, как из папки css

body {
  size: 20px;
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

button {
  padding: 6px 22px;
  border-radius: 4px;
  background-color:rgb(233, 225, 68);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

button:hover, button:focus {
  background-color: rgb(43, 226, 55);
}

.search-form {
  text-align: center;
  margin: 20px;
  background-color: rgb(56, 56, 186);
  padding: 10px;
}

input{
  padding: 6px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 8px;
  border-color: transparent;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 15px;
}

.photo-card{
  margin: 15px; 
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  overflow: hidden;

}

.load-more {
  margin: 20px auto;
  display: block;
  text-align: center;
  visibility: hidden;
}

.load-more-visible {
  visibility: visible;
}

.info {
  display: flex;
}

.info-item{
  margin: auto;
}